page-home {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
  @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
  
  
  .scroll-content {
    /*position: absolute;*/
    background-color: #8f0000;
    height: 100%;
    width: 100%;
  }

  
  $card-width:  350px;
  $card-height: 500px;
  .card-year
  {
     //background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg) no-repeat fixed;
     
     background-size: cover;
     //height: 100%;
     //width:100%;
     
    //left: 100%;
    border-radius: 10px;
    position: relative;
    
  
  }
  
  $h-color:     #9CC9E3;
  $yellow:      #D0BB57;
  $txt-color:   #DCE3E7;
  .title-content{
    position: absolute;
    width: 41%;
    height: 99%;
    left: 38%;
    z-index: 0;
    left: 4%;
    padding: 6px;
    }
  .clockdiv
  {
    border-right: -25%;
    padding-right: -113%;
    position: absolute;
    width: -1%;
    height: -39%;
    left: 47%;
    color: black;
    top: 14%;
    font-size: 2em;
  }
  .slide-zoom {
    text-align: center;
    position: relative;
    display: block;
    width: 87%;
    left: -16%;
  }
  .slider
  {
    position: absolute;
    height: 73%;
    width: 100%;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.15, 0.99);
    -moz-transition: 1s ease;
    /* transition: 1s ease; */
    /* float: inherit; */
    /* width: 33.33%; */
    padding: 16px;
  }
  .clockdiv1
  {
    position: absolute;
    width: -1%;
    height: -39%;
    left: 47%;
    background: transparent;
    font-size: 1.7em;
    font-weight: bold;
    padding: 3px;
    color: black;
    top: 48%;
  }
  .yearcard
  {
    height: 155px !important;
    position: relative;
    width: 89%;
    left: 4%;
    
  }
  .headerfirstyear
    {
      text-align: center;
      left: 7px;
      top: 1px;
      
      font-family: sans-serif;
      
    }
    .ionbaryear
    {
      background-color: #35667c;
    }
  }