doughnut-chart-demo{
    .chartStyle{
        position: absolute;
        display: block;
        height: 281px;
        width: 568px;
        left: -90px;
    }
    .chartsdiv
    {
    	
    	position: absolute;
    top: 15%;
    left: 88%;
    font-size: 23px;
    }
    .stardiv
    {
    	position: absolute;
    top: 86%;
    left: 57%;
    font-size: 15px;

    }

    }
